<!DOCTYPE html>
<html lang="zxx">
  <!-- Mirrored from htmldemo.net/urdan/urdan/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Jan 2024 09:30:35 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Wristaura - Watches</title>
    <meta name="robots" content="noindex, follow" />
    <meta
      name="description"
      content="Urdan Minimal eCommerce Bootstrap 5 Template is a stunning eCommerce website template that is the best choice for any online store."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <link
      rel="canonical"
      href="https://htmldemo.hasthemes.com/urdan/index.html"
    />

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Urdan - Minimal eCommerce HTML Template"
    />
    <meta
      property="og:url"
      content="https://htmldemo.hasthemes.com/urdan/index.html"
    />
    <meta
      property="og:site_name"
      content="Urdan - Minimal eCommerce HTML Template"
    />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta
      property="og:description"
      content="Urdan Minimal eCommerce Bootstrap 5 Template is a stunning eCommerce website template that is the best choice for any online store."
    />
    <!-- Add site Favicon -->
    <link
      rel="icon"
      href="assets/images/favicon/cropped-favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      href="assets/images/favicon/cropped-favicon-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon"
      href="assets/images/favicon/cropped-favicon-180x180.png"
    />
    <meta
      name="msapplication-TileImage"
      content="assets/images/favicon/cropped-favicon-270x270.png"
    />

    <!-- All CSS is here
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/vendor/themify-icons.css" />
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="assets/css/plugins/aos.css" />
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css" />
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css" />
    <link rel="stylesheet" href="assets/css/plugins/slinky.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
      
  </head>

  <body>
    <style>
      .error-message {
          color: red;
          font-size: 0.875em;
      }
  </style>
    <div class="main-wrapper main-wrapper-2">
      <header class="header-area header-responsive-padding header-height-1">
        <div class="header-top d-none d-lg-block bg-gray">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-6">
                <div class="welcome-text">
                  <p>Default Welcome Msg!</p>
                </div>
              </div>
              <div class="col-lg-6 col-6">
                <div class="language-currency-wrap">
                  <div class="currency-wrap border-style">
                    <a class="currency-active" href="#"
                      >$ Dollar (US) <i class="ti-angle-down"></i
                    ></a>
                    <div class="currency-dropdown">
                      <ul>
                        <li><a href="#">Taka (BDT) </a></li>
                        <li><a href="#">Riyal (SAR) </a></li>
                        <li><a href="#">Rupee (INR) </a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="language-wrap">
                    <a class="language-active" href="#"
                      ><img src="assets/images/icon-img/flag.png" alt="" />
                      English <i class="ti-angle-down"></i
                    ></a>
                    <div class="language-dropdown">
                      <ul>
                        <li>
                          <a href="#"
                            ><img
                              src="assets/images/icon-img/flag.png"
                              alt=""
                            />English
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><img
                              src="assets/images/icon-img/spanish.png"
                              alt=""
                            />Spanish</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            ><img
                              src="assets/images/icon-img/arabic.png"
                              alt=""
                            />Arabic
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom sticky-bar">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-6 col-6">
                <div class="logo">
                  <a href="index.html"
                    ><img src="assets/images/logo/watch.png" alt="logo"
                  /></a>
                </div>
              </div>
              <div
                class="col-lg-6 d-none d-lg-block d-flex justify-content-center"
              >
                <div class="main-menu text-center">
                  <nav>
                    <ul>
                      <li>
                        <a href="/">HOME</a>
                        
                      </li>
                      <li>
                        <a href="/shop">SHOP</a>
                        
                      </li>
                      <li>
                        <a href="#">PAGES</a>
                        <ul class="sub-menu-style">
                         
                          
                          <li><a href="checkout.html">checkout </a></li>
                          <li><a href="my-account.html">my account</a></li>
                          <li><a href="wishlist.html">wishlist </a></li>
                          <li><a href="compare.html">compare </a></li>
                          <li><a href="contact-us.html">contact us </a></li>
                          <li>
                            <a href="login-register.html">login / register </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="blog.html">BLOG</a>
                        <ul class="sub-menu-style">
                          <li><a href="blog.html">blog standard </a></li>
                          <li><a href="blog-sidebar.html">blog sidebar</a></li>
                          <li><a href="blog-details.html">blog details</a></li>
                        </ul>
                      </li>
                      <li><a href="about-us.html">ABOUT</a></li>
                      <li><a href="contact-us.html">CONTACT US</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-6">
                <div class="header-action-wrap">
                  <div class="header-action-style header-search-1">
                    <a class="search-toggle" href="#">
                      <i class="pe-7s-search s-open"></i>
                      <i class="pe-7s-close s-close"></i>
                    </a>
                    <div class="search-wrap-1">
                      <form action="/checkout" method="post">
                        <input placeholder="Search products…" type="text" />
                        <button class="button-search">
                          <i class="pe-7s-search"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                  <div class="header-action-style">
                    <a title="Login Register" href="login-register.html"
                      ><i class="pe-7s-user"></i
                    ></a>
                  </div>
                  <div class="header-action-style">
                    <a title="Wishlist" href="/wishlist"
                      ><i class="pe-7s-like"></i
                    ></a>
                  </div>
                  <div class="header-action-style header-action-cart">
                    <a class="cart-active" href="#"
                      ><i class="pe-7s-shopbag"></i>
                      <span class="product-count bg-black">01</span>
                    </a>
                  </div>
                  <div class="header-action-style d-block d-lg-none">
                    <a class="mobile-menu-active-button" href="#"
                      ><i class="pe-7s-menu"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- mini cart start -->
      <div class="sidebar-cart-active">
        <div class="sidebar-cart-all">
          <a class="cart-close" href="#"><i class="pe-7s-close"></i></a>
          <div class="cart-content">
            <h3>Shopping Cart</h3>
            
            
            <div class="cart-btn btn-hover">
              <a class="theme-color" href="/cart">view cart</a>
            </div>
            <div class="checkout-btn btn-hover">
              <a class="theme-color" href="checkout.html">checkout</a>
            </div>
          </div>
        </div>
      </div>
      <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
          <div class="breadcrumb-content text-center">
            <h2>Checkout</h2>
            <ul>
              <li><a href="/">Home</a></li>
              <li><i class="ti-angle-right"></i></li>
              <li>Checkout</li>
            </ul>
          </div>
        </div>
        <!-- <div class="breadcrumb-img-1">
          <img src="assets/images/banner/breadcrumb-1.png" alt="" />
        </div>
        <div class="breadcrumb-img-2">
          <img src="assets/images/banner/breadcrumb-2.png" alt="" />
        </div> -->
      </div>
      <div class="checkout-main-area pb-100 pt-100">
        <div class="container">
          <div class="customer-zone mb-20">
            <p class="cart-page-title">
              Returning customer?
              <a class="checkout-click1" href="#">Click here to login</a>
            </p>
            <div class="checkout-login-info">
              <p>
                If you have shopped with us before, please enter your details in
                the boxes below. If you are a new customer, please proceed to
                the Billing & Shipping section.
              </p>
              <form action="#">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="sin-checkout-login">
                      <label>Username or email address <span>*</span></label>
                      <input type="text" name="user-name" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="sin-checkout-login">
                      <label>Passwords <span>*</span></label>
                      <input type="password" name="user-password" />
                    </div>
                  </div>
                </div>
                <div class="button-remember-wrap">
                  <button class="button" type="submit">Login</button>
                  <div class="checkout-login-toggle-btn">
                    <input type="checkbox" />
                    <label>Remember me</label>
                  </div>
                </div>
                <div class="lost-password">
                  <a href="#">Lost your password?</a>
                </div>
              </form>
            </div>
          </div>
          <div class="customer-zone mb-20">
            <p class="cart-page-title">
              Have a coupon?
              <a class="checkout-click3" href="#"
                >Click here to enter your code</a
              >
            </p>
            <div class="checkout-login-info3">
              <form action="#">
               
                <div class="calculate-discount-content">
                      
                  <div class="input-style">
                    
                  </div>
                  <div class="calculate-discount-btn btn-hover">
                    <a class="btn theme-color" href="#" data-bs-toggle="modal" data-bs-target="#couponModal">Apply Coupon</a>
                </div>
                
              </div>
              </form>
            </div>
          </div>
          <div class="checkout-wrap pt-30">
            <form id="checkout">
              <div class="row">
                <div class="col-lg-7">
                  <div class="billing-info-wrap">
                    <h3>Billing Details</h3>

                    <div class="row">
                      <!-- First set of details -->
                      <div style="overflow: auto">
                        <!-- Clear floats -->
                        <div style="display: inline-block; width: 300px">
                          <% for (let i = 0; i < address.length; i++) { %>
                          <div style="display: inline-block; margin-right: 20px; width: 100%; box-sizing: border-box; border: 1px solid #ccc; padding: 10px;">
                            <input type="radio" id="address_<%= i %>" name="selected_address" value="<%= address[i]._id %>" />
                            <label for="address_<%= i %>" style="color: black">
                              <%= address[i].fname %> <%= address[i].lname %>
                              &nbsp;, <%= address[i].email %> <br />
                              <%= address[i].mobile %> &nbsp;,<%= address[i].address %> &nbsp;, <%= address[i].place %> &nbsp;, <br />
                              <%= address[i].pin %>
                            </label>
                            <input type="hidden" id="addressIndex_<%= i %>" value="<%= i %>" />
                            <a href="/loadcheckouteditaddress?id=<%= address[i]._id %>&index=<%= i %>">Edit</a>
                            &nbsp;
                          </div>
                          <% } %>
                        </div>
                      </div>
                    </div>

                    <!-- Button trigger modal -->
                    <!-- Button trigger modal -->

                    <button
                      type="button"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#exampleModalCenter"
                    >
                      Add Address
                    </button>

                    <!-- Details container 1 -->
                    <div
                      id="details1"
                      class="details-container"
                      style="display: none"
                    >
                      <!-- Details Set 1 -->
                      <!-- You can replace the input fields with dropdowns -->
                      <div class="row">
                        <div class="col-lg-6 col-md-6">
                          <div class="billing-info mb-20">
                            <label>First Name</label>
                            <input type="text" />
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="billing-info mb-20">
                            <label>Last Name</label>
                            <input type="text" />
                          </div>
                        </div>
                        <!-- Add more fields as needed -->
                      </div>
                    </div>

                    <!-- Details container 2 -->
                    <div
                      id="details2"
                      class="details-container"
                      style="display: none"
                    >
                      <!-- Details Set 2 -->
                      <!-- You can replace the input fields with dropdowns -->
                      <div class="row">
                        <div class="col-lg-6 col-md-6">
                          <div class="billing-info mb-20">
                            <label>Company Name</label>
                            <input type="text" />
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                          <div class="billing-info mb-20">
                            <label>Country</label>
                            <input type="text" />
                          </div>
                        </div>
                        <!-- Add more fields as needed -->
                      </div>
                    </div>

                    <!-- Add more details containers and options for additional sets of details -->

                    
                  </div>

                  <script>
                    // JavaScript for toggling details containers
                    const selectDetails =
                      document.querySelectorAll(".select-details");
                    selectDetails.forEach((select) => {
                      select.addEventListener("change", function () {
                        const selectedValue = this.value;
                        const detailsContainers =
                          document.querySelectorAll(".details-container");
                        detailsContainers.forEach((container) => {
                          container.style.display = "none";
                        });
                        if (selectedValue !== "none") {
                          document.getElementById(selectedValue).style.display =
                            "block";
                        }
                      });
                    });
                  </script>
                </div>
                <% if (cartProducts) { %>
                  <div class="col-lg-5">
                    <div class="your-order-area">
                      <h3>Your order</h3>
                      <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-info-wrap">
                          <div class="your-order-info">
                            <ul>
                              <li>Product <span>Total</span></li>
                            </ul>
                          </div>
                          <div class="your-order-middle">
                            <ul>
                              <% for (let i = 0; i < cartProducts.product.length; i++) { %>
                              <li>
                                <%= cartProducts.product[i].name %> X <%= cartProducts.product[i].price %> X <%= cartProducts.product[i].quantity %>
                                <span>₹<%= cartProducts.subtotal %></span>
                              </li>
                              <% } %>
                            </ul>
                          </div>
                          <div class="your-order-info order-subtotal">
                            <ul>
                              <input type="hidden" id="totalAmount" value="<%= cartProducts.subtotal %>" />
                              <li>
                                Subtotal: <span>₹<%= cartProducts.subtotal %></span>
                              </li>
                              <li class="coupon-name">
                                Coupon name: <span>null</span> <button id="removeCouponButton">Remove</button>
                              </li>
                              <li class="discount-amount">
                                Discount amount: <span>0</span>
                              </li>
                              <li class="total">
                                shippingcharge: <span>₹<%= cartProducts.shippingcharge %></span>
                              </li>
                              <li class="total">
                                Total: <span>₹<%= cartProducts.subtotal+cartProducts.shippingcharge %></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="payment-method">
                          <div class="pay-top sin-payment">
                            <% if (cartProducts.subtotal > 1000) { %>
                            <input id="payment-method-COD" class="input-radio" type="radio" value="COD" name="payment_method" />
                            <label for="payment-method-COD">Cash on delivery</label>
                            <% } else { %>
                            <p style="color: red;">Cash on delivery is not available</p>
                            <% } %>
                            <div class="payment-box payment_method_bacs">
                              <p>
                                Make your payment directly into our bank account. Please use your Order ID as the payment reference.
                              </p>
                            </div>
                          </div>
                        </div>
                  
                        <div class="payment-method">
                          <div class="pay-top sin-payment">
                            <input id="payment-method-wallet" class="input-radio" type="radio" value="wallet" name="payment_method" />
                            <label for="payment-method-wallet">Wallet</label>
                            <div class="payment-box payment_method_bacs">
                              <p>
                                Make your payment directly into our bank account. Please use your Order ID as the payment reference.
                              </p>
                            </div>
                          </div>
                        </div>
                  
                        <div class="pay-top sin-payment sin-payment-3">
                          <input id="payment-method-razorpay" class="input-radio" type="radio" value="cheque" name="payment_method" />
                          <label for="payment-method-razorpay">Razorpay <img alt="" src="assets/images/icon-img/payment.png" /><a href="#"></a></label>
                          <div class="payment-box payment_method_bacs">
                            <p>
                              Make your payment directly into our bank account. Please use your Order ID as the payment reference.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="Place-order btn-hover">
                        <a id="placeOrderButton">Place Order</a>
                      </div>
                    </div>
                  </div>
                  <% } %>
                  
              
            </form>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="cart-calculate-discount-wrap mb-40">
                
                  <div class="calculate-discount-content">
                      
                      <div class="input-style">
                        
                      </div>
                      
                    
                  </div>
              </div>
          </div>
            <script>
              document
                .getElementById("placeOrderButton")
                .addEventListener("click", function () {
                  // Get selected address index
                  var selectedIndex = document
                    .querySelector('input[name="selected_address"]:checked')
                    .id.split("_")[1];

                  // Get selected payment method
                  var selectedPaymentMethod = document.querySelector(
                    'input[name="payment_method"]:checked'
                  ).value;

                  console.log("payment:", selectedPaymentMethod);
                  console.log(("index:", selectedIndex));
                  var data = {
                    addressIndex: selectedIndex,
                    paymentMethod: selectedPaymentMethod,
                  };

                  // Send POST request
                  fetch("/placeOrder", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                  })
                    .then((response) => {
                      if (response.ok) {
                        return response.json();
                      } else {
                        throw new Error("Order placement failed");
                      }
                    })
                    .then((data) => {
                      if(data.message=="Insufficient balance in wallet"){
                        Swal.fire({
                          icon:'warning',
                          text:'Insufficient balance in wallet'
                        })
                      }
                      else if (data.success) {
                        window.location.href = "/orderPlaced";
                      } else if (data.success === false) {
                        razorpayPayment(data.orders,data.orderId);
                      }
                    })
                    .catch((error) => {
                      console.log(error, "error nd");
                    });

                  function razorpayPayment(orders,orderId) {
                    var options = {
                      key: "rzp_test_CYFq5WzXxbZckl",
                      amount: orders.amount,
                      currency: "INR",
                      name: "Acme Corp", //your business name
                      description: "Test Transaction",
                      image: "https://example.com/your_logo",
                      order_id: orders.id,
                      handler: function (response) {
                        verifyPayment(response, orders,orderId);
                      },

                      prefill: {
                        name: "Gaurav Kumar",
                        email: "gaurav.kumar@example.com",
                        contact: "9000090000",
                      },
                      notes: {
                        address: "Razorpay Corporate Office",
                      },
                      theme: {
                        color: "#696a6e",
                      },
                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.open();
                  }
                  function verifyPayment(payment, orders,orderId) {
                    console.log(
                      orders,
                      "the order data may from razorpay",
                      payment,
                      "the payment be "
                    );
                    $.ajax({
                      url: "/verifypayment",
                      method: "post",
                      contentType: "application/json",
                      data: JSON.stringify({
                        payment: payment,
                        orders: orders,
                        orderId:orderId
                      }),
                      success: function (response) {
                        console.log("AJAX success response:", response);
                        if (response.success) {
                          let orderId = response.orderId;
                          console.log("Redirecting to /orderPlaced");
                          window.location.href = `/orderPlaced`;
                        } else if (response.onlineSuccess) {
                          Swal.fire({
                            icon: "error",
                            title: "payment has done",
                            showConfirmButton: false,
                            time: 1500,
                          });
                        }
                      },
                    });
                  }
                });
            </script>

            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <h2>Address Form</h2>
                          <form id="addressForm" action="/checkoutaddaddress" method="POST">
                            <div class="form-group">
                              <input type="text" id="fname" name="fname" placeholder="First Name" required>
                              <span class="error-message" id="fnameError"></span>
                            </div>
                            <div class="form-group">
                              <input type="text" id="lname" name="lname" placeholder="Last Name" required>
                              <span class="error-message" id="lnameError"></span>
                            </div>
                            <div class="form-group">
                              <input type="email" id="email" name="email" placeholder="Email" required>
                              <span class="error-message" id="emailError"></span>
                            </div>
                            <div class="form-group">
                              <input type="text" id="address" name="address" placeholder="Address" required>
                              <span class="error-message" id="addressError"></span>
                            </div>
                            <div class="form-group">
                              <input type="tel" id="mobile" name="mobile" placeholder="Mobile" required>
                              <span class="error-message" id="mobileError"></span>
                            </div>
                            <div class="form-group">
                              <input type="text" id="place" name="place" placeholder="Place" required>
                              <span class="error-message" id="placeError"></span>
                            </div>
                            <div class="form-group">
                              <input type="text" id="pin" name="pin" placeholder="PIN" required>
                              <span class="error-message" id="pinError"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                        </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                  </div>
              </div>
          </div>
      
            
          </div>
        </div>
      </div>
      <footer class="footer-area">
        <div class="bg-gray-2">
          <div class="container">
            <div class="footer-top pt-80 pb-35">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="footer-widget footer-about mb-40">
                    <div class="footer-logo">
                      <a href="index.html"
                        ><img src="assets/images/logo/logo.png" alt="logo"
                      /></a>
                    </div>
                    <p>
                      Lorem ipsum dolor sit amet, cons adipi elit, sed do
                      eiusmod tempor incididunt ut aliqua.
                    </p>
                    <div class="payment-img">
                      <a href="#"
                        ><img
                          src="assets/images/icon-img/payment.png"
                          alt="logo"
                      /></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div
                    class="footer-widget footer-widget-margin-1 footer-list mb-40"
                  >
                    <h3 class="footer-title">Information</h3>
                    <ul>
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="#">Delivery Information</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms & Conditions</a></li>
                      <li><a href="#">Customer Service</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                  <div class="footer-widget footer-list mb-40">
                    <h3 class="footer-title">My Accound</h3>
                    <ul>
                      <li><a href="my-account.html">My Account</a></li>
                      <li><a href="#">Order History</a></li>
                      <li><a href="wishlist.html">Wish List</a></li>
                      <li><a href="#">Newsletter</a></li>
                      <li><a href="#">Order History</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div
                    class="footer-widget footer-widget-margin-2 footer-address mb-40"
                  >
                    <h3 class="footer-title">Get in touch</h3>
                    <ul>
                      <li><span>Address: </span>Your address goes here</li>
                      <li><span>Telephone Enquiry:</span> (012) 345 6789</li>
                      <li><span>Email: </span>demo@example.com</li>
                    </ul>
                    <div class="open-time">
                      <p>
                        Open : <span>8:00 AM</span> - Close :
                        <span>18:00 PM</span>
                      </p>
                      <p>Saturday - Sunday : Close</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-3">
          <div class="container">
            <div class="footer-bottom copyright text-center bg-gray-3">
              <p>
                Copyright ©2022 All rights reserved | Made with
                <i class="fa fa-heart"></i> by
                <a href="https://hasthemes.com/"> HasThemes</a>.
              </p>
            </div>
          </div>
        </div>
      </footer>
      <!-- Mobile Menu start -->
      <div class="off-canvas-active">
        <a class="off-canvas-close"><i class="ti-close"></i></a>
        <div class="off-canvas-wrap">
          <div class="welcome-text off-canvas-margin-padding">
            <p>Default Welcome Msg!</p>
          </div>
          <div class="mobile-menu-wrap off-canvas-margin-padding-2">
            <div id="mobile-menu" class="slinky-mobile-menu text-left">
              <ul>
                <li>
                  <a href="#">HOME</a>
                  <ul>
                    <li><a href="index.html">Home version 1 </a></li>
                    <li><a href="index-2.html">Home version 2</a></li>
                    <li><a href="index-3.html">Home version 3</a></li>
                    <li><a href="index-4.html">Home version 4</a></li>
                    <li><a href="index-5.html">Home version 5</a></li>
                    <li><a href="index-6.html">Home version 6</a></li>
                    <li><a href="index-7.html">Home version 7</a></li>
                    <li><a href="index-8.html">Home version 8</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">SHOP</a>
                  <ul>
                    <li>
                      <a href="#">Shop Layout</a>
                      <ul>
                        <li><a href="shop.html">Standard Style</a></li>
                        <li>
                          <a href="shop-sidebar.html">Shop Grid Sidebar</a>
                        </li>
                        <li><a href="shop-list.html">Shop List Style</a></li>
                        <li>
                          <a href="shop-list-sidebar.html">Shop List Sidebar</a>
                        </li>
                        <li>
                          <a href="shop-right-sidebar.html"
                            >Shop Right Sidebar</a
                          >
                        </li>
                        <li><a href="shop-location.html">Store Location</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">Product Layout</a>
                      <ul>
                        <li><a href="product-details.html">Tab Style 1</a></li>
                        <li>
                          <a href="product-details-2.html">Tab Style 2</a>
                        </li>
                        <li>
                          <a href="product-details-gallery.html"
                            >Gallery style
                          </a>
                        </li>
                        <li>
                          <a href="product-details-affiliate.html"
                            >Affiliate style</a
                          >
                        </li>
                        <li>
                          <a href="product-details-group.html">Group Style</a>
                        </li>
                        <li>
                          <a href="product-details-fixed-img.html"
                            >Fixed Image Style
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">PAGES </a>
                  <ul>
                    <li><a href="about-us.html">About Us </a></li>
                    <li><a href="cart.html">Cart Page</a></li>
                    <li><a href="checkout.html">Checkout </a></li>
                    <li><a href="my-account.htm">My Account</a></li>
                    <li><a href="wishlist.html">Wishlist </a></li>
                    <li><a href="compare.html">Compare </a></li>
                    <li><a href="contact-us.html">Contact us </a></li>
                    <li><a href="login-register.html">Login / Register </a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">BLOG </a>
                  <ul>
                    <li><a href="blog.html">Blog Standard </a></li>
                    <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li>
                  <a href="about-us.html">ABOUT US</a>
                </li>
                <li>
                  <a href="contact-us.html">CONTACT US</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="language-currency-wrap language-currency-wrap-modify">
            <div class="currency-wrap border-style">
              <a class="currency-active" href="#"
                >$ Dollar (US) <i class="ti-angle-down"></i
              ></a>
              <div class="currency-dropdown">
                <ul>
                  <li><a href="#">Taka (BDT) </a></li>
                  <li><a href="#">Riyal (SAR) </a></li>
                  <li><a href="#">Rupee (INR) </a></li>
                </ul>
              </div>
            </div>
            <div class="language-wrap">
              <a class="language-active" href="#"
                ><img src="assets/images/icon-img/flag.png" alt="" /> English
                <i class="ti-angle-down"></i
              ></a>
              <div class="language-dropdown">
                <ul>
                  <li>
                    <a href="#"
                      ><img
                        src="assets/images/icon-img/flag.png"
                        alt=""
                      />English
                    </a>
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="assets/images/icon-img/spanish.png"
                        alt=""
                      />Spanish</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><img
                        src="assets/images/icon-img/arabic.png"
                        alt=""
                      />Arabic
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5 class="card-title">Available Coupons</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Coupon Code</th>
                        <th>Discount Amount</th>
                        <th>Activate Date</th>
                        <th>Expiry Date</th>
                        <th>Criteria Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < coupon.length; i++) { %>
                        <tr>
                          <td>
                            <input type="radio" name="couponSelection" id="coupon-<%= i %>" value="<%= coupon[i].couponcode %>">
                          </td>
                          <td><%= coupon[i].name %></td>
                          <td><%= coupon[i].couponcode %></td>
                          <td><%= coupon[i].discountamount %></td>
                          <td><%= coupon[i].activateDate.toLocaleDateString('en-US', {
                            year: 'numeric', month: 'short', day: '2-digit'
                          }).replace(/\//g, '-') %></td>
                          <td><%= coupon[i].expiryDate.toLocaleDateString('en-US', {
                            year: 'numeric', month: 'short', day: '2-digit'
                          }).replace(/\//g, '-') %></td>
                          <td><%= coupon[i].criteriaamount %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                  <a href="#" class="btn btn-primary" id="applySelectedCoupon">Apply</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', (event) => {
           
            document.getElementById("removeCouponButton").addEventListener("click", function () {
              
                localStorage.removeItem("couponName");
                localStorage.removeItem("discountAmount");
    
                
                console.log("Coupon removed from local storage");
    
                
                window.location.reload();
            });
        });
    </script>
    
      <script>
        document.getElementById('applySelectedCoupon').addEventListener('click', function() {
          // Get the selected coupon radio button
          const selectedCoupon = document.querySelector('input[name="couponSelection"]:checked');
          
          if (selectedCoupon) {
            // Get the value of the selected coupon, which is the coupon code
            const couponCode = selectedCoupon.value;
            
            // Send the coupon code via a fetch request
            fetch('/apply-coupon', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ couponCode: couponCode })
            })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                Swal.fire({
                  icon: 'success',
                  title: 'Success',
                  text: 'Coupon applied successfully!'
                });
                
                // Store coupon details in localStorage
                localStorage.setItem('couponName', data.couponName);
                localStorage.setItem('discountAmount', data.discountAmount);
                
                // Update the order summary with the coupon details
                updateOrderSummary(data.couponName, data.discountAmount);
                
              } else {
                Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: data.message || 'Failed to apply coupon.'
                });
              }
            })
            .catch(error => {
              console.error('Error:', error);
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred while applying the coupon.'
              });
            });
          } else {
            Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: 'Please select a coupon.'
            });
          }
        });
        
        function updateOrderSummary(couponName, discountAmount) {
          // Get the elements to update
          const couponNameElement = document.querySelector('.your-order-info .coupon-name span');
          const discountAmountElement = document.querySelector('.your-order-info .discount-amount span');
          const totalElement = document.querySelector('.your-order-info .total span');
        
          // Get the current subtotal
          const subtotal = parseFloat(document.getElementById('totalAmount').value);
          const total = subtotal - discountAmount;
        
          // Update the elements with the coupon details
          couponNameElement.innerText = couponName;
          discountAmountElement.innerText = `-$${discountAmount}`;
          totalElement.innerText = `$${total.toFixed(2)}`;
        }
        
        // When the page loads, check if there's a coupon in localStorage and update the summary
        document.addEventListener('DOMContentLoaded', () => {
          const couponName = localStorage.getItem('couponName');
          const discountAmount = parseFloat(localStorage.getItem('discountAmount'));
        
          if (couponName && !isNaN(discountAmount)) {
            updateOrderSummary(couponName, discountAmount);
          }
        });
        </script>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      const form = document.getElementById('addressForm');
  
      form.addEventListener('submit', function (e) {
          e.preventDefault(); // Prevent form submission
  
          // Clear previous error messages
          document.querySelectorAll('.error-message').forEach(el => el.textContent = '');
  
          let isValid = true;
  
          // Validate First Name
          const fname = document.getElementById('fname');
          if (fname.value.trim() === '') {
              document.getElementById('fnameError').textContent = 'First Name is required';
              isValid = false;
          }
  
          // Validate Last Name
          const lname = document.getElementById('lname');
          if (lname.value.trim() === '') {
              document.getElementById('lnameError').textContent = 'Last Name is required';
              isValid = false;
          }
  
          // Validate Email
          const email = document.getElementById('email');
          const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
          if (email.value.trim() === '') {
              document.getElementById('emailError').textContent = 'Email is required';
              isValid = false;
          } else if (!emailPattern.test(email.value)) {
              document.getElementById('emailError').textContent = 'Invalid email address';
              isValid = false;
          }
  
          // Validate Address
          const address = document.getElementById('address');
          if (address.value.trim() === '') {
              document.getElementById('addressError').textContent = 'Address is required';
              isValid = false;
          }
  
          // Validate Mobile
          const mobile = document.getElementById('mobile');
          const mobilePattern = /^[6-9]\d{9}$/;
          if (mobile.value.trim() === '') {
              document.getElementById('mobileError').textContent = 'Mobile number is required';
              isValid = false;
          } else if (!mobilePattern.test(mobile.value)) {
              document.getElementById('mobileError').textContent = 'Invalid mobile number';
              isValid = false;
          }
  
          // Validate Place
          const place = document.getElementById('place');
          if (place.value.trim() === '') {
              document.getElementById('placeError').textContent = 'Place is required';
              isValid = false;
          }
  
          // Validate PIN
          const pin = document.getElementById('pin');
          if (pin.value.trim() === '') {
              document.getElementById('pinError').textContent = 'PIN is required';
              isValid = false;
          }
  
          // If all validations pass, submit the form
          if (isValid) {
              form.submit();
          }
      });
  });
</script>

<script>
  document.getElementById('placeOrderButton').addEventListener('click', function (e) {
    e.preventDefault(); // Prevent the default form submission

    // Check if an address is selected
    const addressSelected = document.querySelector('input[name="selected_address"]:checked');
    // Check if a payment method is selected
    const paymentMethodSelected = document.querySelector('input[name="payment_method"]:checked');

    // If no address is selected, show an alert
    if (!addressSelected) {
      Swal.fire({
        icon: 'warning',
        title: 'Missing Address',
        text: 'Please select an address before placing your order.',
        confirmButtonText: 'OK'
      });
      return; // Stop further execution
    }

    // If no payment method is selected, show an alert
    if (!paymentMethodSelected) {
      Swal.fire({
        icon: 'warning',
        title: 'Missing Payment Method',
        text: 'Please select a payment method before placing your order.',
        confirmButtonText: 'OK'
      });
      return; // Stop further execution
    }

    // If both are selected, submit the form or proceed with order placement
    console.log('Form can be submitted');
    // Optionally, you can submit the form if needed
    // document.getElementById('yourFormId').submit();
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
      
      
    </div>
    <script></script>
    <!-- All JS is here -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/aos.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/swiper.min.js"></script>
    <script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <script src="assets/js/plugins/jquery.counterup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/easyzoom.js"></script>
    <script src="assets/js/plugins/slinky.min.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>

  <!-- Mirrored from htmldemo.net/urdan/urdan/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Jan 2024 09:30:35 GMT -->
</html>
